.home {
  display: flex;

  .homeContainer {
    flex: 6;

    .widgets, .charts {
      display: flex;
      gap: 15px;
      padding: 20px;
    }

    .charts {
      padding: 5px 20px;
    }
  }
}

// --lightest-blue: #E8EFFF;
// --dark-blue: #1849C6;
// --bg-hover: #1340b1;
// --toosh-yellow: #FFBE0B;
// --toosh-orange-200: #FF7B00;
// --toosh-orange-400: #FB5607;
// --title-color: #999;