.home {
  display: flex;

  .homeContainer {
    flex: 6;

    .widgets {
      display: flex;
      gap: 20px;
      padding: 20px;
    }
  }
}

// --lightest-blue: #E8EFFF;
// --dark-blue: #1849C6;
// --bg-hover: #1340b1;
// --toosh-yellow: #FFBE0B;
// --title-color: #999;