.widget {
  background-color: #fff;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  flex: 1;
  height: 100px;
  padding: 10px;
  box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);

  .left, 
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      color: #a0a0a0;
      font-size: 0.8rem;
      font-weight: 600;
      letter-spacing: 0.8px;
    }

    .counter {
      font-size: 1.6rem;
      font-weight: 300;
      letter-spacing: 1px;
    }

    .link {
      border-bottom: 1px solid #a0a0a0;
      font-size: 0.75rem;
      width: max-content;
    }

    .percentage {
      display: flex;
      align-items: center;
      font-size: 0.875rem;

      &.positive {
        color: #008000;
      }

      &.negative {
        color: #ff0000;
      }
    }
  }

  .icon {
    align-self: flex-end;
    border-radius: 5px;
    font-size: 1.125rem;
    padding: 5px;
  }
}