.widget {
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  flex: 1;
  height: 100px;
  padding: 10px;
  box-shadow: 2px 4px 4px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 4px 4px 1px rgba(0, 0, 0, 0.1);

  .left, 
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      color: #a0a0a0;
      font-size: 0.8rem;
      font-weight: 600;
    }

    .counter {
      font-size: 1.6rem;
      font-weight: 300;
      letter-spacing: 2.5px;
    }

    .link {
      font-size: 0.75rem;
      border-bottom: 1px solid #a0a0a0;
    }
  }
}