.featured {
  background-color: #fff;
  border-radius: 3px;
  flex: 2;
  box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 10px;

  .top {
    color: #606060;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 4;
    letter-spacing: 0.5px;
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding: 20px;

    .featuredChart {
      height: 100px;
      width: 100px;
    }

    .title {
      color: #606060;
      font-size: 1rem;
      font-weight: 500;
    }

    .amount {
      font-size: 1.875rem;
      letter-spacing: 2px;
    }

    .desc {
      color: #606060;
      font-size: 0.75rem;
      font-weight: 300;
      text-align: center;
    }
    
    .summary {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .item {
        text-align: center;

        .itemTitle {
          color: #606060;
          font-size: 0.875rem;
        }

        .itemResult {
          display: flex;
          align-items: center;
          font-size: 0.875rem;
          margin-top: 10px;

          &.positive {
            color: #008000;
          }

          &.negative {
            color: #FB5607;
          }
        }
      }
    }
  }
}